* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-family: inherit;
  font-size: 100%;
  vertical-align: baseline;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
table {
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}
a img {
  border: none;
}
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Regular-Web.eot");
  src: url("../fonts/Graphik-Regular-Web.woff") format('woff');
  src: url("../fonts/Graphik-Regular-Web.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Graphik';
  src: url("../fonts/Graphik-Semibold-Web.eot");
  src: url("../fonts/Graphik-Semibold-Web.woff") format('woff');
  src: url("../fonts/Graphik-Semibold-Web.ttf") format('truetype');
  font-weight: bold;
  font-style: normal;
}
a {
  text-decoration: none;
}
html,
body {
  height: 100%;
  min-height: 100%;
}
body {
  font-family: "Graphik";
  color: #0a0b09;
}
.error-message {
  text-align: center;
  color: #ff1d38;
  font-weight: 600;
  font-size: 0.86em;
  margin: 16px 0;
}
.hero {
  background: url("/images/hero.jpg") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
.hero__inner {
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 77.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.hero__content {
  -ms-flex-preferred-size: calc(100% * 0.5 - 1.25rem);
      flex-basis: calc(100% * 0.5 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
}
.hero__heading {
  font-size: 4.875rem;
  margin-bottom: 0.625rem;
  font-weight: bold;
}
.hero__heading em {
  color: #05f;
}
.hero__subheading {
  font-size: 1.125rem;
  line-height: 1.6;
  width: 75%;
}
.hero__button {
  display: inline-block;
  background: rgba(255,255,255,0.75);
  padding: 0.75rem;
  color: #0a0b09;
  font-weight: 600;
  font-size: 1.375rem;
  margin: 1.125rem 0.375rem;
}
.hero__button:first-of-type {
  margin-left: 0;
}
.header {
  width: 100%;
  position: absolute;
  top: 40px;
  left: 0;
}
.header:before,
.header:after {
  content: "";
  display: table;
}
.header:after {
  clear: both;
}
.header__inner {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 77.5rem;
}
.header__inner:before,
.header__inner:after {
  content: "";
  display: table;
}
.header__inner:after {
  clear: both;
}
.logo {
  font-size: 0;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 118px;
  height: 169px;
  background: url("/images/logo.png") no-repeat left top;
  background-size: contain;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-delay: 0.5s;
          animation-delay: 0.5s;
}
.hamburger {
  font-size: 0;
  display: block;
  position: relative;
  width: 4.625rem;
  height: 4.625rem;
  background: #fff;
  overflow: hidden;
  z-index: 10;
}
.hamburger__wrapper {
  position: absolute;
  right: 0;
  top: -1.25rem;
  width: 4.625rem;
  height: 4.625rem;
}
.menu {
  position: absolute;
  right: 0;
  top: -1.25rem;
  padding: 1.25rem;
  background: #fff;
  opacity: 0;
  z-index: 1;
  -webkit-transform: scaleY(0.7);
          transform: scaleY(0.7);
}
.menu:not(.menu--is-open) {
  z-index: -99;
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.menu__item {
  -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 1.25rem);
      flex-basis: calc(100% * 0.333333333333333 - 1.25rem);
  min-width: 0;
  margin: 0.625rem;
  padding: 0 0.625rem;
  min-width: 10.9375rem;
}
.menu__sub-item a {
  font-size: 0.875rem;
  color: #535c4b;
  display: inline-block;
  margin-bottom: 4px;
}
.menu__sub-item a:hover {
  color: #05f;
}
.menu__heading {
  color: #0a0b09;
  display: block;
  font-size: 1.375rem;
  font-weight: 600;
  margin-bottom: 0.625rem;
}
.bastille-form {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-delay: 0.8s;
          animation-delay: 0.8s;
}
.bastille-form.hide-on-load {
  display: none;
}
.bastille-form .btn {
  background-color: #fff;
  color: #0a0b09;
}
.bastille-form .btn:hover {
  background-color: #fff;
}
.bastille-form .file-path-wrapper label {
  left: 15.75rem !important;
}
.bastille-form input:not([type]):focus:not([readonly]) + label,
.bastille-form input[type=text]:focus:not([readonly]) + label,
.bastille-form input[type=password]:focus:not([readonly]) + label,
.bastille-form input[type=email]:focus:not([readonly]) + label,
.bastille-form input[type=url]:focus:not([readonly]) + label,
.bastille-form input[type=time]:focus:not([readonly]) + label,
.bastille-form input[type=date]:focus:not([readonly]) + label,
.bastille-form input[type=datetime]:focus:not([readonly]) + label,
.bastille-form input[type=datetime-local]:focus:not([readonly]) + label,
.bastille-form input[type=tel]:focus:not([readonly]) + label,
.bastille-form input[type=number]:focus:not([readonly]) + label,
.bastille-form input[type=search]:focus:not([readonly]) + label,
.bastille-form textarea.materialize-textarea:focus:not([readonly]) + label {
  color: #05f;
}
.bastille-form input:not([type]):focus:not([readonly]),
.bastille-form input[type=text]:focus:not([readonly]),
.bastille-form input[type=password]:focus:not([readonly]),
.bastille-form input[type=email]:focus:not([readonly]),
.bastille-form input[type=url]:focus:not([readonly]),
.bastille-form input[type=time]:focus:not([readonly]),
.bastille-form input[type=date]:focus:not([readonly]),
.bastille-form input[type=datetime]:focus:not([readonly]),
.bastille-form input[type=datetime-local]:focus:not([readonly]),
.bastille-form input[type=tel]:focus:not([readonly]),
.bastille-form input[type=number]:focus:not([readonly]),
.bastille-form input[type=search]:focus:not([readonly]),
.bastille-form textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid #05f;
  box-shadow: 0 1px 0 0 #05f;
}
.faq-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 0.5rem 0;
}
.faq-item:before,
.faq-item:after {
  content: "";
  display: table;
}
.faq-item:after {
  clear: both;
}
.faq-item__question {
  display: block;
  cursor: pointer;
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0.5rem 0;
  color: #535c4b;
}
.faq-item__question:hover {
  opacity: 0.8;
}
.faq-item__question:before {
  content: ">";
  display: inline-block;
  margin-right: 0.5rem;
  color: rgba(83,92,75,0.3);
  -webkit-transition: -webkit-transform 300ms ease-in-out;
  transition: -webkit-transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out;
  transition: transform 300ms ease-in-out, -webkit-transform 300ms ease-in-out;
  -webkit-transform: rotate(0);
          transform: rotate(0);
}
.faq-item--is-active .faq-item__question:before {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}
.faq-item__answer {
  font-size: 1rem;
  line-height: 1.4;
  opacity: 0;
  padding: 0.875rem 0;
  margin-bottom: 0.875rem;
  border-bottom: 1px solid rgba(83,92,75,0.1);
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.faq-item--is-active .faq-item__answer {
  opacity: 1;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
}
.testimonials__quote {
  border-left-color: rgba(83,92,75,0.2);
  font-size: 1rem;
  line-height: 1.4;
  position: relative;
  width: 80%;
  margin: 1.25rem auto;
}
.testimonials__quote:before {
  font-family: Georgia, 'Times New Roman', serif;
  content: "“";
  font-size: 6.125rem;
  position: absolute;
  left: -3.75rem;
  top: 0;
  color: rgba(83,92,75,0.2);
}
.testimonials__source {
  display: block;
  font-style: italic;
  text-align: right;
  margin-top: 0.875rem;
}
.testimonials__source:before {
  content: "– ";
}
.bastille-loading {
  display: none;
  list-style: none;
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 0;
}
.bastille-loading.active {
  display: block;
}
.bastille-loading li {
  height: 0;
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  margin: 0;
  height: 15px;
  width: 15px;
  border-radius: 100%;
  -webkit-transform: transformZ(0);
          transform: transformZ(0);
  -webkit-animation: LOADING 2s infinite;
          animation: LOADING 2s infinite;
}
.bastille-loading li:nth-child(1n) {
  left: -20px;
  background: #05f;
  border: 3px solid #05f;
  -webkit-animation-delay: 0s;
          animation-delay: 0s;
}
.bastille-loading li:nth-child(2n) {
  left: 0;
  background: #e2e5df;
  border: 3px solid #e2e5df;
  -webkit-animation-delay: 0.2s;
          animation-delay: 0.2s;
}
.bastille-loading li:nth-child(3n) {
  left: 20px;
  background: #ff1d38;
  border: 3px solid #ff1d38;
  -webkit-animation-delay: 0.4s;
          animation-delay: 0.4s;
}
@-webkit-keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.9;
  }
}
@keyframes LOADING {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.9;
  }
  50% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 0.5;
  }
  100% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
    opacity: 0.9;
  }
}
.bastille-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  padding-top: 20px;
}
.bastille-contact__header {
  -ms-flex-preferred-size: calc(100% * 0.285714285714286 - 0rem);
      flex-basis: calc(100% * 0.285714285714286 - 0rem);
  min-width: 0;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 0.9375rem;
}
.bastille-contact__body {
  -ms-flex-preferred-size: calc(100% * 0.714285714285714 - 0rem);
      flex-basis: calc(100% * 0.714285714285714 - 0rem);
  min-width: 0;
  text-align: left;
  margin-bottom: 20px;
}
.logos {
  margin-top: 60px;
}
.logos .slick-track {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.logos .slick-track .slick-slide {
  margin: 0 10px;
}
.logos .slick-track .slick-current img {
  -webkit-filter: none;
          filter: none;
}
.logos img {
  width: 100%;
  max-width: 120px;
  height: auto;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: -webkit-filter 200ms ease-in-out;
  transition: -webkit-filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out;
  transition: filter 200ms ease-in-out, -webkit-filter 200ms ease-in-out;
}
.logos img:hover {
  -webkit-filter: none;
          filter: none;
}
.fixed-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 100%;
}
.fixed-image__left {
  -ms-flex-preferred-size: calc(100% * 0.4 - 0rem);
      flex-basis: calc(100% * 0.4 - 0rem);
  min-width: 0;
  height: 100vh;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: 86% center;
  position: relative;
  background-size: cover;
  -webkit-animation: fixed-image__left 1600ms ease-out forwards;
          animation: fixed-image__left 1600ms ease-out forwards;
}
.fixed-image__right {
  -ms-flex-preferred-size: calc(100% * 0.6 - 0rem);
      flex-basis: calc(100% * 0.6 - 0rem);
  min-width: 0;
  overflow-x: hidden;
  overflow-y: scroll;
  height: 100vh;
  padding-bottom: 6.25rem;
}
.fixed-image__title {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  font-size: 9.25rem;
  font-weight: 600;
  -webkit-transform: rotate(-90deg) translateX(calc(100% - 10px)) translateY(28px);
          transform: rotate(-90deg) translateX(calc(100% - 10px)) translateY(28px);
  -webkit-transform-origin: right bottom;
          transform-origin: right bottom;
  opacity: 0;
  -webkit-animation: fixed-image__title 1000ms ease-out forwards;
          animation: fixed-image__title 1000ms ease-out forwards;
}
.fixed-image__content {
  max-width: 37.5rem;
  margin-left: 11.25rem;
}
.fixed-image__content a {
  color: #0a0b09;
  box-shadow: 0px -1px rgba(10,11,9,0.6) inset;
  -webkit-transition: box-shadow 300ms ease-in-out;
  transition: box-shadow 300ms ease-in-out;
}
.fixed-image__content a:hover {
  box-shadow: 0px -2px #05f inset;
}
.fixed-image__heading,
.full-width__heading {
  font-size: 3.625rem;
  font-weight: bold;
  margin: 8.75rem 0;
}
.fixed-image__subheading {
  border-top: 4px solid #0a0b09;
  padding-top: 1rem;
  font-size: 2.875rem;
  font-weight: bold;
  margin-bottom: 3.375rem;
}
.fixed-image__body,
.full-width__body {
  opacity: 0;
  -webkit-animation: fixed-image__body 1000ms 400ms ease-in-out forwards;
          animation: fixed-image__body 1000ms 400ms ease-in-out forwards;
}
.fixed-image__body p,
.full-width__body p {
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 1.5rem;
}
@-webkit-keyframes fixed-image__title {
  from {
    opacity: 0;
    right: -20px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@keyframes fixed-image__title {
  from {
    opacity: 0;
    right: -20px;
  }
  to {
    opacity: 1;
    right: 0;
  }
}
@-webkit-keyframes fixed-image__left {
  from {
    opacity: 0;
    background-position: 88% 46%;
  }
  to {
    opacity: 1;
    background-position: 86% center;
  }
}
@keyframes fixed-image__left {
  from {
    opacity: 0;
    background-position: 88% 46%;
  }
  to {
    opacity: 1;
    background-position: 86% center;
  }
}
@-webkit-keyframes fixed-image__body {
  from {
    opacity: 0;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes fixed-image__body {
  from {
    opacity: 0;
    -webkit-transform: translateY(-6px);
            transform: translateY(-6px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
.full-width__hero {
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 32.5rem;
  -webkit-animation: full-width__hero 1600ms ease-out forwards;
          animation: full-width__hero 1600ms ease-out forwards;
}
.full-width__wrapper {
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 64rem;
  padding-left: 3.75rem;
  padding-right: 3.75rem;
  -webkit-transform: translateY(-240px);
          transform: translateY(-240px);
  padding-bottom: 5rem;
  overflow: hidden;
}
.full-width__wrapper:before,
.full-width__wrapper:after {
  content: "";
  display: table;
}
.full-width__wrapper:after {
  clear: both;
}
.full-width__heading {
  margin: 3.75rem 0;
}
.full-width__subheading {
  font-size: 30px;
  border-top: 5px solid #0a0b09;
  padding-top: 20px;
  margin: 20px 0px 20px 0px;
}
@-webkit-keyframes full-width__hero {
  from {
    opacity: 0;
    background-position: 50% 46%;
  }
  to {
    opacity: 1;
    background-position: 50% 50%;
  }
}
@keyframes full-width__hero {
  from {
    opacity: 0;
    background-position: 50% 46%;
  }
  to {
    opacity: 1;
    background-position: 50% 50%;
  }
}
@media only screen and (max-width: 87.5rem) {
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__heading {
    font-size: 3.125rem;
  }
  .hero__subheading {
    width: 100%;
  }
  .hero__button {
    width: 100%;
    margin: 10px 0 0;
  }
  .header__inner {
    width: 90%;
  }
  .logo {
    width: 90px;
    height: 120px;
  }
  .menu__item {
    -ms-flex-preferred-size: calc(100% * 0.333333333333333 - 2.5rem);
        flex-basis: calc(100% * 0.333333333333333 - 2.5rem);
    min-width: 0;
    margin: 1.25rem;
  }
  .fixed-image__content {
    max-width: 26.25rem;
    margin-left: auto;
    margin-right: auto;
  }
  .full-width__wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50rem;
  }
}
@media only screen and (max-width: 50rem) {
  .hero__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .hero__content {
    -ms-flex-preferred-size: calc(100% * 0.666666666666667 - 1.25rem);
        flex-basis: calc(100% * 0.666666666666667 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    margin-top: 150px !important;
  }
  .hero__heading {
    font-size: 2.5rem;
  }
  .hero__subheading {
    font-size: 1rem;
  }
  .hero__button {
    font-size: 1.125rem;
  }
  .logo {
    width: 50px;
    height: 80px;
  }
  .hamburger {
    width: 2.5rem;
    height: 2.5rem;
  }
  .hamburger__wrapper {
    width: 2.5rem;
    height: 2.5rem;
    top: 0;
  }
  .menu {
    width: 100%;
    height: calc(100vh - 40px);
    padding: 3.75rem 1.25rem;
  }
  .menu__item {
    -ms-flex-preferred-size: calc(100% * 1 - 1.25rem);
        flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    padding: 0.375rem;
    text-align: center;
  }
  .testimonials__quote {
    width: 100%;
  }
  .testimonials__quote:before {
    content: none;
  }
  .bastille-contact__header {
    -ms-flex-preferred-size: calc(100% * 1 - 1.25rem);
        flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    margin-left: 0;
    margin-right: 0;
  }
  .bastille-contact__body {
    -ms-flex-preferred-size: calc(100% * 1 - 1.25rem);
        flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    margin-left: 0;
    margin-right: 0;
  }
  .fixed-image__left {
    -ms-flex-preferred-size: calc(100% * 1 - 0rem);
        flex-basis: calc(100% * 1 - 0rem);
    min-width: 0;
    height: 200px;
    overflow: visible;
  }
  .fixed-image__right {
    -ms-flex-preferred-size: calc(100% * 1 - 1.25rem);
        flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    overflow: visible;
  }
  .fixed-image__title {
    display: none;
  }
  .fixed-image__heading,
  .full-width__heading {
    font-size: 2.25rem;
    margin: 1.875rem 0;
  }
  .fixed-image__subheading {
    font-size: 1.75rem;
    margin: 1.875rem 0;
  }
  .full-width__wrapper {
    max-width: none;
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media only screen and (max-width: 500px) {
  .hero__content {
    -ms-flex-preferred-size: calc(100% * 1 - 1.25rem);
        flex-basis: calc(100% * 1 - 1.25rem);
    min-width: 0;
    margin: 0.625rem;
    padding: 10px;
  }
}

/*# sourceMappingURL=main.css.map */
