.hamburger
  font-size 0
  display block
  position relative
  width rem-calc(74)
  height rem-calc(74)
  background white
  overflow hidden

  &__wrapper
    absolute right 0 top rem-calc(30px)
    width rem-calc(74)
    height rem-calc(74)
