.hero
  background url('/images/hero.jpg') no-repeat center center
  background-size cover
  height 100vh

  &__inner
    height 100%
    center($containerWidth)
    grid('row','center','end')
    +below($desktop)
      grid('row', 'center', 'center')
    +below($tablet)
      grid('row', 'top', 'center')

  &__content
    cell(1,2)
    +below($tablet)
      cell(2,3)
      margin-top 150px!important
    +below(500px)
      cell(1,1)
      padding 10px

  &__heading
    font-size rem-calc(78)
    margin-bottom rem-calc(10)
    font-weight bold
    em
      color $blue
    +below($desktop)
      font-size rem-calc(50)
    +below($tablet)
      font-size rem-calc(40)

  &__subheading
    font-size rem-calc(18)
    line-height 1.6
    width 75%
    +below($desktop)
      width 100%
    +below($tablet)
      font-size rem-calc(16)

  &__button
    display inline-block
    background rgba($white, .75)
    padding rem-calc(12)
    color $black
    font-weight 600
    font-size rem-calc(22)
    margin rem-calc(18) rem-calc(6)
    &:first-of-type
      margin-left 0
    +below($desktop)
      width 100%
      margin 10px 0 0
    +below($tablet)
      font-size rem-calc(18)
