.logo
  font-size 0
  display block
  absolute top 0 left 0
  z-index 1
  width 118px
  height 169px
  background url('/images/logo.png') no-repeat left top
  background-size contain
  animation-duration 2s
  animation-delay 0.5s
  +below($desktop)
    width 90px
    height 120px
  +below($tablet)
    width 50px
    height 80px
