.menu
  absolute right 0 top rem-calc(-20px)
  padding rem-calc(20px)
  background $white
  opacity 0
  z-index 1
  transform scaleY(.7)
  // border-radius 5px

  &__list
    grid()

  &__item
    cell(1,3)
    padding 0 rem-calc(10px)
    min-width rem-calc(175px)

  &__sub-item
    a
      font-size rem-calc(14px)
      color $gray
      display inline-block
      margin-bottom 4px
      &:hover
        color $blue

  &__heading
    color $black
    display block
    font-size rem-calc(22px)
    font-weight 600
    margin-bottom rem-calc(10px)
