.faq-item
  clearfix()
  grid('column')
  margin rem-calc(8) 0
  &__question
    display block
    cursor pointer
    font-size rem-calc(20)
    font-weight 600
    margin rem-calc(8) 0
    color $gray
    &:hover
      opacity .8
    &:before
      content ">"
      display inline-block
      margin-right rem-calc(8)
      color rgba($gray, .3)
      transition transform 300ms ease-in-out
      transform rotate(0)
      .faq-item--is-active &
        transform rotate(90deg)
  &__answer
    font-size rem-calc(16)
    line-height 1.4
    opacity 0
    padding rem-calc(14) 0
    margin-bottom rem-calc(14)
    border-bottom 1px solid rgba($gray, .1)
    transition opacity 300ms ease-in-out
    .faq-item--is-active &
      opacity 1
      transition opacity 300ms ease-in-out
