.bastille-loading
  &.active
    display block
  display none
  list-style none
  margin 0
  padding 0
  position absolute
  top 50%
  left 50%
  transform translate(-50%, -50%)
  font-size 0
  li
    height 0
    position absolute
    top 50%
    left 0
    width 0
    margin 0
    height 15px
    width 15px
    border-radius 100%
    transform transformZ(0)
    animation LOADING 2s infinite
    &:nth-child(1n)
      left -20px
      background $blue
      border 3px solid $blue
      animation-delay 0s
    &:nth-child(2n)
      left 0
      background $light-gray
      border 3px solid $light-gray
      animation-delay 0.2s
    &:nth-child(3n)
      left 20px
      background $red
      border 3px solid $red
      animation-delay 0.4s

@keyframes LOADING
  0%
    transform scale(0.5)
    opacity 0.9
  50%
    transform scale(1)
    opacity 0.5
  100%
    transform scale(0.5)
    opacity 0.9
