.logos
  // grid('row', 'center', 'center')
  margin-top 60px
  
  .slick-track
    display flex
    align-items center
    
    .slick-slide
      margin 0 10px
    
    .slick-current
      img
        filter none

  img
    width 100%
    max-width 120px
    height auto
    filter grayscale(100%)
    transition filter 200ms ease-in-out
    &:hover
      filter none
