<form action="https://getsimpleform.com/messages?form_api_token={{ site.simple_form.api_token }}" method="post">
  <!-- the redirect_to is optional, the form will redirect to the referrer on submission -->
  <input type='hidden' name='redirect_to' value='http://{{ site.url }}' />
  <!-- all your input fields here.... -->
  First Name: <input type='text' name='First Name' />
  Last Name: <input type='text' name='Last Name' />
  Email: <input type='text' name='Email' />
  Phone Number: <input type='text' name='Phone Number' />
  LinkedIn: <input type='text' name='LinkedIn' />
  Resume: <input type='file' name='Resume' />
  <input type='submit' value='Submit' />
</form>