{% if page.partial == 'contact' %}

  <div class="bastille-contact">

  {% if page.address.size > 0 %}


    {% assign address = page.address %}

      <div class="bastille-contact__header">
        <h3>Address</h3>
      </div>

      <div class="bastille-contact__body">
        {{ address.street }}<br />
        {{ address.unit }}<br />
        {{ address.city }}, {{ address.state }}<br />
        {{ address.zip }}
      </div>

  {% endif %}

  {% if page.phone != "" %}

    <div class="bastille-contact__header">
      <h3>Phone</h3>
    </div>

    <div class="bastille-contact__body">
      <a href="tel:{{ page.phone }}" target="_top">{{ page.phone }}</a>
    </div>

  {% endif %}

  {% if page.email != "" %}

    <div class="bastille-contact__header">
      <h3>Email</h3>
    </div>

    <div class="bastille-contact__body">
      <a href="mailto:{{ page.email }}" target="_top">{{ page.email }}</a>
    </div>

  {% endif %}

  {% if page.twitter.size > 0 %}

    <div class="bastille-contact__header">
      <h3>Twitter</h3>
    </div>

    <div class="bastille-contact__body">
        <a href="{{ page.twitter.url }}" target="_blank">@{{ page.twitter.handle }}</a>
    </div>

  {% endif %}

  {% if page.linkedin.size > 0 %}

    <div class="bastille-contact__header">
      <h3>LinkedIn</h3>
    </div>

    <div class="bastille-contact__body">
      <a href="{{ page.linkedin.url }}" target="_blank">{{ page.linkedin.handle }}</a>
    </div>

  {% endif %}

  {% if page.blog != "" %}

    <div class="bastille-contact__header">
      <h3>Blog</h3>
    </div>

    <div class="bastille-contact__body">
        <a href="{{ page.blog }}" target="_blank">medium</a>
    </div>

  {% endif %}

  </div>

{% endif %}
