{% if page.form != '' %}
<form class="bastille-form col s12" action="https://getsimpleform.com/messages?form_api_token={{ site.simple_form.api_token }}" method="post">
  <input type='hidden' name='redirect_to' value='http://{{ site.url }}' />

  <div class="row">
  {% for field in page.form %}

    {% if field.type == 'file' %}
      <div class="file-field input-field col s6">
        <div class="btn">
          <span>{{ field.label }}</span>
          <input type="file">
        </div>
        <div class="file-path-wrapper">
          <input class="file-path validate" type="text">
        </div>
      </div>
    {% else %}
      <div class="input-field col s6">
        <input id="{{ field.label | downcase | replace: " ", "_" }}" type="{{ field.type }}" class="validate">
        <label for="{{ field.label | downcase | replace: " ", "_" }}">{{ field.label }}</label>
      </div>
    {% endif %}

  {% endfor %}
  </div>

  <div class="row col s12 center-align">
    <button class="btn waves-effect">Submit
      <i class="material-icons right">send</i>
    </button>
  </div>

</form>

{% include loading.html %}

<!-- TODO: migrate to it's own js file -->
<script>
  $(document).ready(function() {
    $("button").click(function() {
      $("form").addClass("animated fadeOut").delay(700).queue(function(next){
          $("html, body").animate({ scrollTop: 100 }, 200);
          $(".bastille-loading").addClass("active animated fadeIn");
          next();
      });
    });
  });
</script>

{% endif %}
