{% if page.form.size > 0 %}

<div id="form">

  <form class="animated bastille-form col s12"
        action="https://getsimpleform.com/messages?form_api_token={{ site.simple_form.api_token }}"
        method="post" enctype="multipart/form-data"
        :class="{'hide-on-load': hiddenOnLoad, 'fadeIn': !hidden, 'fadeOut': hidden}"
        v-on:submit.prevent="validate">

    <input type='hidden' name='redirect_to' value='{{ site.domain }}/thankyou' />

    <div class="row">
    <div class="error-message" v-if="errorMessage">
      [[errorMessage]]
    </div>
    {% for field in page.form %}

      {% assign form_data = field.label | downcase | replace: " ", "_" %}

      {% if field.type == 'file' %}
        <div class="file-field input-field col m6 s12 offset-m3">
          <div class="btn">
            <span>{{ field.label }}</span>
            <input type="file" name="{{ field.label }}" v-model="inputs.file">
          </div>
          <div class="file-path-wrapper">
            <input id="file-path" class="file-path validate" type="text">
            <label for="file-path">Optional</label>
          </div>
        </div>
      {% else %}
        <div class="input-field col s12 m6">
          <input id="{{ form_data }}" type="{{ field.type }}" name="{{ field.label }}" v-model="inputs.{{ form_data }}" class="validate">
          <label for="{{ form_data }}">{{ field.label }}</label>
        </div>
      {% endif %}

    {% endfor %}
    </div>

    <div class="row col s12 center-align">
      <button class="btn waves-effect">Submit
        <i class="material-icons right">send</i>
      </button>
    </div>

  </form>

  {% include loading.html %}
</div>

{% endif %}
