<div class="logos">
  <div><img src="/images/logos/barkbox.png" alt=""/></div>
  <div><img src="/images/logos/general-assembly.png" alt=""/></div>
  <div><img src="/images/logos/handy.png" alt=""/></div>
  <div><img src="/images/logos/outdoorvoices.png" alt=""/></div>
  <div><img src="/images/logos/transferwise.png" alt=""/></div>
  <div><img src="/images/logos/greenhouse.png" alt=""/></div>
  <div><img src="/images/logos/flatiron-health.png" alt=""/></div>
  <div><img src="/images/logos/photoshelter.png" alt=""/></div>
  <div><img src="/images/logos/spring.png" alt=""/></div>
  <div><img src="/images/logos/makespace.png" alt=""/></div>
  <div><img src="/images/logos/hinge.png" alt=""/></div>
  <div><img src="/images/logos/wework.png" alt=""/></div>
  <div><img src="/images/logos/knotch.png" alt=""/></div>
  <div><img src="/images/logos/mmlafleur.png" alt=""/></div>
</div>

<script>
  $(document).ready(function(){
    $(".logos").slick({
	  dots: false,
	  prevArrow: false,
	  nextArrow: false,
	  slidesToShow: 5,
	  slidesToScroll: 1,
	  autoplay: true,
	  autoplaySpeed: 1500,
	  centerMode: true
	});
  });
       
</script>