<nav class="menu" id="menu" :class="{'menu--is-open': isOpen}">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="/candidate" class="menu__heading">Candidate</a>
      <ul class="menu__sub-list">
        <li class="menu__sub-item"><a href="/candidate">Submit Your Resume</a></li>
        <li class="menu__sub-item"><a href="/candidate/faqs">FAQ</a></li>
        <li class="menu__sub-item"><a href="/candidate/testimonials">Testimonials</a></li>
      </ul>
    </li>
    <li class="menu__item">
      <a href="/client" class="menu__heading">Client</a>
      <ul class="menu__sub-list">
        <li class="menu__sub-item"><a href="/client">Overview</a></li>
        <li class="menu__sub-item"><a href="/client/faqs">FAQ</a></li>
        <li class="menu__sub-item"><a href="/client/testimonials">Testimonials</a></li>
      </ul>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__heading">Us</a>
      <ul class="menu__sub-list">
        <li class="menu__sub-item"><a href="/about">About</a></li>
        <li class="menu__sub-item"><a href="/contact">Contact</a></li>
      </ul>
    </li>
  </ul>
</nav>
