<nav class="menu" id="menu" :class="{'menu--is-open': isOpen}">
  <ul class="menu__list">
    <li class="menu__item">
      <a href="#" class="menu__heading">Candidate</a>
      <ul class="menu__sub-list">
        <li class="menu__sub-item"><a href="#">Submit Your Resume</a></li>
        <li class="menu__sub-item"><a href="#">FAQ</a></li>
        <li class="menu__sub-item"><a href="#">Testimonials</a></li>
      </ul>
    </li>
    <li class="menu__item">
      <a href="#" class="menu__heading">Client</a>
      <ul class="menu__sub-list">
        <li class="menu__sub-item"><a href="#">Overview</a></li>
        <li class="menu__sub-item"><a href="#">FAQ</a></li>
        <li class="menu__sub-item"><a href="#">Testimonials</a></li>
      </ul>
    </li>
  </ul>
</nav>
