a
  text-decoration none

html,
body
  height 100%
  min-height 100%

body
  font-family "Graphik"
  color $black

.error-message
  text-align center
  color $red
  font-weight 600
  font-size .86em
  margin 16px 0
