@font-face
  font-family 'Graphik'
  src url('_fonts/Graphik-Regular-Web.eot')
  src url('_fonts/Graphik-Regular-Web.woff') format('woff')
  src url('_fonts/Graphik-Regular-Web.ttf') format('truetype')
  font-weight bold
  font-style normal
