.fixed-image
  grid()
  height 100%

  &__left
    cell(2,5,g:0)
    height 100vh
    overflow hidden
    background-repeat no-repeat
    background-position 86% center
    position relative
    background-size cover
    animation fixed-image__left 1600ms ease-out forwards
    +below($tablet)
      cell(1,1,g:0)
      height 200px
      overflow visible

  &__right
    cell(3,5,g:0)
    overflow-x hidden
    overflow-y scroll
    height 100vh
    padding-bottom rem-calc(100px)
    +below($tablet)
      cell(1,1)
      overflow visible

  &__title
    absolute bottom 0 right 0
    color $white
    font-size rem-calc(148)
    font-weight 600
    transform rotate(-90deg) translateX(calc(100% - 10px)) translateY(28px)
    transform-origin right bottom
    opacity 0
    animation fixed-image__title 1000ms ease-out forwards
    +below($tablet)
      display none

  &__content
    max-width rem-calc(600px)
    margin-left rem-calc(180px)
    +below($desktop)
      max-width rem-calc(420px)
      margin-left auto
      margin-right auto

    a
      color $black
      box-shadow 0px -1px rgba($black, .6) inset
      transition box-shadow 300ms ease-in-out
      &:hover
        box-shadow 0px -2px $blue inset

  &__heading
    font-size rem-calc(58)
    font-weight bold
    margin rem-calc(140px) 0
    +below($tablet)
      font-size rem-calc(36)
      margin rem-calc(30px) 0

  &__subheading
    border-top 4px solid $black
    padding-top rem-calc(16)
    font-size rem-calc(46)
    font-weight bold
    margin-bottom rem-calc(54)
    +below($tablet)
      font-size rem-calc(28)
      margin rem-calc(30px) 0

  &__body
    opacity 0
    animation fixed-image__body 1000ms 400ms ease-in-out forwards
    p
      font-size rem-calc(16)
      font-weight 400
      line-height 1.6
      margin-bottom rem-calc(24)



/*********************
 * ANIMATION
 *********************/
@keyframes fixed-image__title
  from
    opacity 0
    right -20px
  to
    opacity 1
    right 0

@keyframes fixed-image__left
  from
    opacity 0
    background-position 88% 46%
  to
    opacity 1
    background-position 86% center

@keyframes fixed-image__body
  from
    opacity 0
    transform translateY(-6px)
  to
    opacity 1
    transform translateY(0)
