.full-width
  &__hero
    background-size cover
    background-repeat no-repeat
    min-height rem-calc(520)
    animation full-width__hero 1600ms ease-out forwards

  &__wrapper
    clearfix()
    background $white
    center($sectionWrapperWidth, $containerPadding)
    transform translateY(-240px)
    padding-bottom rem-calc(80px)
    overflow hidden
    +below($desktop)
      center(rem-calc(800px))
    +below($tablet)
      max-width none
      padding-left 20px
      padding-right 20px

  &__heading
    @extend .fixed-image__heading
    margin rem-calc(60px) 0

  &__subheading
    font-size 30px
    border-top 5px solid $black
    padding-top 20px
    margin 20px 0px 20px 0px

  &__body
    @extend .fixed-image__body


@keyframes full-width__hero
  from
    opacity 0
    background-position 50% 46%
  to
    opacity 1
    background-position 50% 50%
