.subsection-landing
  // grid()
  // height 100%
  background-image url(/images/client-hero.jpg)
	
  &__top
  	
    // cell(2,5,g:0)
    // height 100vh
    // overflow hidden
    background-image url(/images/client-hero.jpg)
    background-repeat no-repeat
    background-position 86% center
    position relative
    background-size cover
    // animation subsection-landing__top 1600ms ease-out forwards
    
  // &__title
  //   absolute bottom 0 right 0
  //   color $white
  //   font-size rem-calc(148)
  //   font-weight 600
  //   transform rotate(-90deg) translateX(calc(100% - 10px)) translateY(28px)
  //   transform-origin right bottom
  //   opacity 0
  //   animation subsection-landing__title 1000ms ease-out forwards