flex-version    = flex
support-for-ie  = false
vendor-prefixes = official
@import "nib"

@import "rupture"
@import 's-grid-settings'
@import 's-grid-functions'

$sectionPadding      = rem-calc(140px) 0
$containerWidth      = rem-calc(1240px)
$containerPadding    = rem-calc(60px)
$sectionWrapperWidth = rem-calc(1024px)

$desktop = rem-calc(1400px)
$tablet  = rem-calc(800px)

global-reset()

@import "variables/colors"
@import "variables/typography"

@import "common/global"

@import "partials/hero"
@import "partials/header"
@import "partials/logo"
@import "partials/hamburger"
@import "partials/menu"
@import "partials/form"

@import "components/faq-item"
@import "components/testimonials"
@import "components/loading"
@import "components/contact"
@import "components/logos"

@import "layouts/fixed-image"
@import "layouts/full-width"
