---
title: Bastille Agency
layout: fixed-image
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <style media="screen">
    .{{layout.layout}}__left {
      background-image: url('{{ meta.image | default: '/images/hero2.jpg' }}');
    }
  </style>

  <body class="{{ layout.layout }}">


    <section class="{{ layout.layout }}__left">
      <h1 class="{{layout.layout}}__title">
        {{ page.title | default: 'Bastille Agency' }}
      </h1>
    </section>

    <section class="{{ layout.layout }}__right">
      <article class="{{ layout.layout }}__content">
        <h2 class="{{ layout.layout }}__heading">{{ page['heading'] | default: 'Bastille' }}</h2>
        <h3 class="{{ layout.layout }}__subheading">{{ page['subheading'] | default: 'Go beyond the resume.' }}</h3>
        <div class="{{ layout.layout }}__body">
          {{ content }}
        </div>
        {% include testimonials.html %}
        {% include faqs.html %}
      </article>
    </section>

    {% include footer_scripts.html %}

  </body>

</html>
