---
title: Bastille Agency
layout: full-page
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <style media="screen">
    .hero {
      background-image: url('{{ page["hero image"].path | default: '/images/hero2.jpg' }}');
    }
  </style>

  <body>

    {% include header.html %}

    <section class="hero">
      <div class="hero__inner">
        <div class="hero__content">
          <h2 class="hero__heading">{{ page.heading }}</h2>
          <p class="hero__subheading">
            {{ content }}
          </p>
        </div>
      </div>
    </section>

    {% include shared_scripts.html %}

  </body>

</html>
