---
title: Bastille Agency
layout: full-width
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <style media="screen">
    .{{layout.layout}}__hero {
      background-image: url('{{ page["hero image"].path | default: '/images/hero3.jpg' }}');
    }
  </style>

  <body class="{{ layout.layout }}">

    {% include header.html %}

    <section class="{{ layout.layout }}__hero"></section>

    <section class="{{ layout.layout }}__wrapper">
      <h1 class="{{layout.layout}}__heading">
        {% if page.heading != "" %}
          {{ page.heading }}
        {% else %}
          {{ page.title | default: 'Bastille Agency' }}
        {% endif %}
      </h1>

      {% if page.subheading != "" %}
      <h2 class="{{layout.layout}}__subheading">
        {{ page.subheading }}
      </h2>
      {% endif %}

      <div class="{{layout.layout}}__body">
        {{ content }}
      </div>

      {% include testimonials.html %}
      {% include faqs.html %}
      {% include contact.html %}

      {% include shared_scripts.html %}
      {% include form.html %}

      {% if page.title == 'Client' %}
        {% include logos.html %}
      {% endif %}
    </section>



  </body>

</html>
