---
title: Bastille Agency
layout: landing
---

<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    {% include header.html %}

    {% include shared_scripts.html %}
    
    <section class="hero">
      <div class="hero__inner">
        <div class="hero__content">
          <h2 class="hero__heading">Go <em>beyond</em> the resume.</h2>
          <p class="hero__subheading">
            Our technical assessment lets you show off your skills to dozens of NYC startups simultaneously.
          </p>
          <a href="/candidate" class="hero__button">Are you looking for a job?</a>
          <a href="/client" class="hero__button">Are you looking to hire?</a>
          {% include logos.html %}
        </div>
      </div>
    </section>

  </body>

</html>
